# macOS
.DS_Store

# VS Code local workspace files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Secrets
*.secret.yaml
secrets.yaml
.env
.env.*

# Backups / temp files
*.bak
*.tmp
*.new